<!DOCTYPE html>
<html>
<head>
  <title>username</title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style type="text/css">
      .container{ 
          width: 500px;
      }
      .card{
          width: 100%;
      }
  </style>    

</head>
<body>
  <nav class="navbar navbar-warning bg-warning">
    <a href="#" class="navbar-brand text-dark" >INSCRIRE</a> 
  </nav>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <div class="form-group">
            <form method="POST" action="/signup">
              <label for="exampleDropdownFormUsername1">Username</label>
              <input type="username" name="username" class="form-control" id="exampleDropdownFormUsername1" placeholder="12345">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
              <a href="/login/" class="btn btn-outline-info mt-5">sign-in</a>
            </form>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
